.container{
    position:absolute;
    width: 91.66%;
    height: 75%;
}
.container #index{
    background-color: aqua;
}
#sn{
    background-color: rgb(76, 151, 58);
}
#carta{
    background-color: rgb(255, 0, 0);
}
#bebidas{
    background-color: rgb(247, 0, 255);
}
#contacto{
    background-color: rgb(255, 196, 0);
}