header{
    display: flex;
    align-self: flex-start;
    position: fixed;  
}
.cabecera{
    position: relative;
    height: 10%; /* 70 -> 171.5*/
    background: var(--cln);
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.cabecera ul{
    display: flex;/*350 -> 930*/
    margin: auto;
}
.cabecera ul li {
    list-style: none;
    position: relative;
    height: 10%; /*70 -> 171.5*/
    z-index: 1;
}
.title{
    color: var(--cla);
}