.container{
    width: 91.66%;
    height: 75%;
}
.container #index{
    background-color: aqua;
}
.container #sn{
    background-color: rgb(76, 151, 58);
}
.container #carta{
    background-color: rgb(255, 0, 0);
}
.container #bebidas{
    background-color: rgb(247, 0, 255);
}
.container #contacto{
    background-color: rgb(255, 196, 0);
}